<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6c0845fe-d1b1-483f-ac42-8adb844f17be" Alias="modularPage" Level="2">
  <Info>
    <Name>Modular Page</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>modularPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2ff49724-a5fb-42f2-81d2-e0bcdf63656a">modularPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6c0845fe-d1b1-483f-ac42-8adb844f17be" SortOrder="0">modularPage</ContentType>
    <ContentType Key="ae970f43-f872-49f1-b516-4e9fadb0507a" SortOrder="1">serviceListPage</ContentType>
    <ContentType Key="a1d0af14-f566-441a-87ba-d6f17c169226" SortOrder="2">projectListPage</ContentType>
    <ContentType Key="64a2d9e2-9633-4d0c-9a21-d1d0caf6cb1f" SortOrder="3">serviceItemTemplate</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>8a0487e6-6a48-41c3-ac17-42aaaa007bcf</Key>
      <Name>Layout</Name>
      <Alias>layout</Alias>
      <Definition>e977ab3b-7e2c-4a73-b1c9-3144806afd8c</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/pageLayout">Page Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c28dbe56-9f8e-4e1c-8dc0-eba897b9ada2</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>447a6e1c-61db-4c2d-bc84-da448e8f1d42</Key>
      <Caption>Page Layout</Caption>
      <Alias>content/pageLayout</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>fd33e364-215a-436b-94fa-1540f229eca1</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>