<?xml version="1.0" encoding="utf-8"?>
<Content Key="36e556ed-d75c-4654-9635-2e1aaf36303f" Alias="Projects" Level="2">
  <Info>
    <Parent Key="fc6cac46-ec27-486d-9748-0ae5121b4ee3">Home</Parent>
    <Path>/Home/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectListPage</ContentType>
    <CreateDate>2024-09-28T14:46:26</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="66b4e7c0-ec6d-4b78-b8bc-49096a3d24d1">projectListPage</Template>
  </Info>
  <Properties>
    <isVisible>
      <Value><![CDATA[]]></Value>
    </isVisible>
    <pageTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitle>
  </Properties>
</Content>