<?xml version="1.0" encoding="utf-8"?>
<Content Key="b23852c0-16ec-4a68-8738-77955919ac8c" Alias="Services" Level="2">
  <Info>
    <Parent Key="fc6cac46-ec27-486d-9748-0ae5121b4ee3">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceListPage</ContentType>
    <CreateDate>2024-09-23T15:49:42</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2a33352d-e25b-4537-91c5-f91501dfcc2f">serviceListPage</Template>
  </Info>
  <Properties>
    <customHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </customHeadline>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
  </Properties>
</Content>