<?xml version="1.0" encoding="utf-8"?>
<Content Key="f106377b-4890-45fc-92b8-d1a860af580d" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2024-09-11T14:39:40</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <officeEmailAdress>
      <Value><![CDATA[info@onatrix.com]]></Value>
    </officeEmailAdress>
    <officeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </officeLocation>
    <officePhoneNumber>
      <Value><![CDATA[+46 70 123 45 67]]></Value>
    </officePhoneNumber>
    <siteLogotype>
      <Value><![CDATA[[
  {
    "key": "6068b8d0-e099-4233-ad22-a39354dbea10",
    "mediaKey": "d390e992-92aa-4583-9b7f-bb04edc91ea9",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogotype>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
    <siteTagline>
      <Value><![CDATA[Financial Solutions for You]]></Value>
    </siteTagline>
    <socialMediaPlatforms>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "7a78c599-807c-4395-a004-149d1b9634df",
      "udi": "umb://element/d609d8e5cb5e45fbb4009ac11fcb75c2",
      "platformName": "[\u0022Facebook\u0022]",
      "platformAccountUrl": "https://facebook.com/onatrix"
    },
    {
      "contentTypeKey": "7a78c599-807c-4395-a004-149d1b9634df",
      "udi": "umb://element/8d0de87c2cf14cad95257464fd40a1c3",
      "platformName": "[\u0022LinkedIn\u0022]",
      "platformAccountUrl": "https://linkedin.com/onatrix"
    },
    {
      "contentTypeKey": "7a78c599-807c-4395-a004-149d1b9634df",
      "udi": "umb://element/a4bdad40e5564b9da2a83898513952da",
      "platformName": "[\u0022X (formerly Twitter)\u0022]",
      "platformAccountUrl": "https://x.com/onatrix"
    },
    {
      "contentTypeKey": "7a78c599-807c-4395-a004-149d1b9634df",
      "udi": "umb://element/70bf1391a4544b81812184fcba830945",
      "platformName": "[\u0022TikTok\u0022]",
      "platformAccountUrl": "https://tiktok.com/onatrix"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d609d8e5cb5e45fbb4009ac11fcb75c2",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/a4bdad40e5564b9da2a83898513952da",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/8d0de87c2cf14cad95257464fd40a1c3",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/70bf1391a4544b81812184fcba830945",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMediaPlatforms>
  </Properties>
</Content>