<?xml version="1.0" encoding="utf-8"?>
<DataType Key="22efc380-3f58-4e11-8c1d-9ffe779db0ea" Alias="Contact Form - ContactForm - Block List" Level="1">
  <Info>
    <Name>Contact Form - ContactForm - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d7e5570c-23b0-449b-bcfa-e60bbf8c7e40",
      "label": "InputText - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "ed3be84e-d0d1-4825-b58e-bbda65e56913",
      "label": "InputTextArea - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "ce3f737a-173c-4754-bd9d-ec4b652154fb",
      "label": "Button - {=buttonType}"
    }
  ]
}]]></Config>
</DataType>