<?xml version="1.0" encoding="utf-8"?>
<DataType Key="71288060-f544-46d9-9abb-f204c64ab1f5" Alias="Form Button - Button Type" Level="1">
  <Info>
    <Name>Form Button - Button Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "submit",
    "reset"
  ]
}]]></Config>
</DataType>