<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1f2003a9-ac9a-4b85-96a5-f5574877f397" Alias="InputText - Input Type " Level="1">
  <Info>
    <Name>InputText - Input Type </Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "text",
    "email",
    "phone number"
  ]
}]]></Config>
</DataType>