<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e977ab3b-7e2c-4a73-b1c9-3144806afd8c" Alias="Modular Page - Layout " Level="1">
  <Info>
    <Name>Modular Page - Layout </Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "57a8cbb3-11f9-4dc0-9c2a-e04d0a8acaef",
      "name": "Containers"
    },
    {
      "key": "b1244cc3-7c28-42f2-be77-5f923feca9f2",
      "name": "Components"
    },
    {
      "key": "166aef86-1be0-487b-9002-ad5bf035f495",
      "name": "Content"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "64c0144e-8f30-4aa1-9d4f-8973877a9d2d",
      "allowAtRoot": false,
      "groupKey": "166aef86-1be0-487b-9002-ad5bf035f495",
      "label": "heading 1",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "734b11fd-f698-4bf0-ad4a-f8f2404391db",
      "allowAtRoot": false,
      "groupKey": "166aef86-1be0-487b-9002-ad5bf035f495",
      "label": "heading 2",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "12b1fc7d-bb3f-4c05-98e2-b84d9d3ca580",
      "allowAtRoot": false,
      "groupKey": "166aef86-1be0-487b-9002-ad5bf035f495",
      "label": "heading 3",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "72209078-3534-4631-b8e1-bc872b1f6246",
      "allowAtRoot": false,
      "groupKey": "166aef86-1be0-487b-9002-ad5bf035f495",
      "label": "heading 4",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "2274f887-4fb4-490b-ae8c-7ba51c25d22c",
      "allowAtRoot": false,
      "groupKey": "166aef86-1be0-487b-9002-ad5bf035f495",
      "label": "heading 5",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "d3b73ef8-93c1-4299-98c9-e24b75c31073",
      "allowAtRoot": false,
      "groupKey": "166aef86-1be0-487b-9002-ad5bf035f495",
      "label": "heading 6",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "d14818ce-8758-4d1d-bdbe-c66ff56687e2",
      "allowAtRoot": false,
      "groupKey": "166aef86-1be0-487b-9002-ad5bf035f495",
      "label": "paragraph",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "5579885c-52eb-47d3-8e3e-0fe56f2c9424",
      "allowAtRoot": false,
      "groupKey": "166aef86-1be0-487b-9002-ad5bf035f495",
      "label": "quotation",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "3d7bd095-223c-46c7-8f92-4d225ed6685a",
      "allowAtRoot": false,
      "groupKey": "166aef86-1be0-487b-9002-ad5bf035f495",
      "label": "rich text",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "451f4a66-567b-43dd-861e-8149dec941f1",
      "allowAtRoot": false,
      "groupKey": "166aef86-1be0-487b-9002-ad5bf035f495",
      "label": "link",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "25f95ff9-d522-4c29-b2e8-6adcae472ad7",
      "allowAtRoot": false,
      "groupKey": "166aef86-1be0-487b-9002-ad5bf035f495",
      "label": "Image",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "d379274c-61ad-4930-8a20-4b93dcf33205",
      "allowAtRoot": false,
      "groupKey": "166aef86-1be0-487b-9002-ad5bf035f495",
      "label": "button link",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "0f29a1ae-18f3-491c-aee4-7dc6ef6f6a67",
      "allowAtRoot": true,
      "label": "Section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "6a69ceaf-a8d7-43c5-aaa3-ac4b1cdd5e64",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "groupKey": "57a8cbb3-11f9-4dc0-9c2a-e04d0a8acaef"
    },
    {
      "contentElementTypeKey": "196547ec-6f6e-4ab0-8c6e-82a52df36d15",
      "allowAtRoot": false,
      "groupKey": "57a8cbb3-11f9-4dc0-9c2a-e04d0a8acaef",
      "label": "container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "bc79c75f-b901-41d4-8b25-c75dbfda9279",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "9017c1cd-39cc-4991-a6c3-e96bf68daf9f",
      "allowAtRoot": false,
      "groupKey": "57a8cbb3-11f9-4dc0-9c2a-e04d0a8acaef",
      "label": "dynamic container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "c2b2616d-8953-43d2-b80b-0b0e54791efc",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        }
      ],
      "rowMinSpan": 0
    },
    {
      "contentElementTypeKey": "009f1310-8044-45b1-b471-aaeca84b65d5",
      "allowAtRoot": true,
      "groupKey": "57a8cbb3-11f9-4dc0-9c2a-e04d0a8acaef",
      "label": "Section Full Width - **{=sectionTitle}**",
      "areas": [
        {
          "key": "2f740a14-d8b2-44ff-9a17-0eda54e57ea5",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "99d4060f-e674-4213-aafa-f28339b2f32c",
      "allowAtRoot": true,
      "groupKey": "57a8cbb3-11f9-4dc0-9c2a-e04d0a8acaef",
      "label": "Section Img Container - **{=sectionTitle}**",
      "areas": [
        {
          "key": "c692f378-edb9-4840-b253-0a0eee7ca007",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "b273ba40-ec36-4ee9-828b-649ee1b28da4",
      "allowAtRoot": false,
      "groupKey": "b1244cc3-7c28-42f2-be77-5f923feca9f2",
      "label": "image slider",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "19fbefbb-dfe7-44a1-bf32-cc818db142cf",
      "allowAtRoot": true,
      "groupKey": "b1244cc3-7c28-42f2-be77-5f923feca9f2"
    },
    {
      "contentElementTypeKey": "fb604a01-d9d4-41d1-9a04-afdbf2f90eec",
      "allowAtRoot": true,
      "groupKey": "b1244cc3-7c28-42f2-be77-5f923feca9f2"
    },
    {
      "contentElementTypeKey": "0ea0a0b1-4bb4-46ba-9b6a-fe6729f65fb7",
      "allowAtRoot": true,
      "groupKey": "b1244cc3-7c28-42f2-be77-5f923feca9f2",
      "allowInAreas": false
    },
    {
      "contentElementTypeKey": "5479d477-6945-42e3-a0de-d9651e26c0b1",
      "allowAtRoot": true,
      "groupKey": "b1244cc3-7c28-42f2-be77-5f923feca9f2"
    },
    {
      "contentElementTypeKey": "2a3355b0-99c6-4a37-843b-55c633e2b32d",
      "allowAtRoot": false,
      "groupKey": "b1244cc3-7c28-42f2-be77-5f923feca9f2",
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>