<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b0659329-5e8c-4b5b-a20e-47991ee66a58" Alias="Settings Page - Team Members " Level="1">
  <Info>
    <Name>Settings Page - Team Members </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "80c94c3f-d4cb-45c4-8d3a-5968bce11ad2",
      "label": "**{=team}** - {=role}"
    }
  ]
}]]></Config>
</DataType>