<?xml version="1.0" encoding="utf-8"?>
<DataType Key="38a68e1a-3b0c-4492-b026-c1bb81fd9954" Alias="Team members - Dropdown list" Level="1">
  <Info>
    <Name>Team members - Dropdown list</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Brandon Newton",
    "AJ Carter",
    "Aaron Lambert",
    "Tina Fox",
    "Bradon Kerr",
    "Miranda Dayton",
    "Kevin Gardner"
  ]
}]]></Config>
</DataType>