@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
    ViewBag.Title = Model.Name;
}

@if (!string.IsNullOrEmpty(ViewBag.Title)) 
{
    @await Html.PartialAsync("partials/static/breadcrumb.cshtml")
}

<section id="service-details">
    <div class="container">
        <aside>
            @await Html.PartialAsync("partials/static/sidbarAbout.cshtml")
        </aside>
        <div class="content">
        @Model.Value("pageContent")
        </div>
    </div>
</section>
@await Html.PartialAsync("partials/static/questionForm.cshtml")
@await Html.PartialAsync("partials/static/getincontact.cshtml")
