<div class="sidebar-tags">
    <h4>Tags</h4>    
    <div class="tags">
        <a class="tag-link" href="#"><span>Report</span></a>
        <a class="tag-link" href="#"><span>Busines plans</span></a>
        <a class="tag-link" href="#"><span>Insights</span></a>
        <a class="tag-link" href="#"><span>Business</span></a>
        <a class="tag-link" href="#"><span>App</span></a>
        <a class="tag-link" href="#"><span>Project</span></a>
        <a class="tag-link" href="#"><span>Finance</span></a>
        <a class="tag-link" href="#"><span>Pricing</span></a>
    </div>

    <div class="form bg-primary">
        <h5>How can we help you?</h5>
        <p>online support 24/7, we are here to help you</p>
        <form onsubmit="handelContactForm(event)" novalidate>            
            <label class="form-label" for="email"></label>
            <input id="email" name="email" type="email" placeholder="E-mail address" class="form-input">             
        </form>
    </div>
</div>

