<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b145ab5-97e7-44a1-8027-16307cf6fd88" Alias="About" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/About</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-02T14:25:52</CreateDate>
    <NodeName Default="About" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>