<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b4db7fd-27c3-46b6-9712-ef77446b7b5c" Alias="Assurance" Level="2">
  <Info>
    <Parent Key="0b57b685-93d9-4fad-b3ed-e64ffda14ec2">Services</Parent>
    <Path>/Services/Assurance</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T16:13:35</CreateDate>
    <NodeName Default="Assurance" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b2fo40oy/image-13-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>