<?xml version="1.0" encoding="utf-8"?>
<Media Key="39468bc7-47f8-4925-a4dc-5af26e94fc30" Alias="background images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/backgroundImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-14T13:26:55</CreateDate>
    <NodeName Default="background images" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>