<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec943255-d907-4e0b-a348-1594da134ee3" Alias="background dots" Level="2">
  <Info>
    <Parent Key="d0a1c494-3354-4903-b700-855675f4e54e">Contact</Parent>
    <Path>/Contact/backgroundDots</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-30T15:25:08</CreateDate>
    <NodeName Default="background dots" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/u4hdmdq2/component.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>