<?xml version="1.0" encoding="utf-8"?>
<Media Key="67672b9f-cde3-4e55-858c-bd1854372e01" Alias="background hero" Level="2">
  <Info>
    <Parent Key="39468bc7-47f8-4925-a4dc-5af26e94fc30">background images</Parent>
    <Path>/backgroundImages/backgroundHero</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-14T13:28:37</CreateDate>
    <NodeName Default="background hero" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nwlmlbpy/sl-home2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>