<?xml version="1.0" encoding="utf-8"?>
<Media Key="610ab4b4-7ba3-4929-ad3a-38ad08cebfa5" Alias="contact" Level="2">
  <Info>
    <Parent Key="d0a1c494-3354-4903-b700-855675f4e54e">Contact</Parent>
    <Path>/Contact/contact</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-30T15:25:54</CreateDate>
    <NodeName Default="contact" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/iyelra3y/img-5-e1695109900349-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>