<?xml version="1.0" encoding="utf-8"?>
<Media Key="b4f4e215-db63-4134-9018-4d5b23f9210a" Alias="dotmap (1)" Level="2">
  <Info>
    <Parent Key="39468bc7-47f8-4925-a4dc-5af26e94fc30">background images</Parent>
    <Path>/backgroundImages/dotmap1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-18T15:21:41</CreateDate>
    <NodeName Default="dotmap (1)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/tiuleaqk/dot-map-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>