<?xml version="1.0" encoding="utf-8"?>
<Media Key="4efffef6-c5d4-4ef7-b378-fb4b0aa7dd4b" Alias="dotmap" Level="2">
  <Info>
    <Parent Key="39468bc7-47f8-4925-a4dc-5af26e94fc30">background images</Parent>
    <Path>/backgroundImages/dotmap</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-18T15:13:23</CreateDate>
    <NodeName Default="dotmap" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/arbf1lgp/dot-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>