<?xml version="1.0" encoding="utf-8"?>
<Media Key="8e456086-2dd0-447b-9522-a3466fbae54d" Alias="fossilgroup" Level="2">
  <Info>
    <Parent Key="957d47bd-7d6d-4ff7-8b27-1ee1adbaf6d8">Partners</Parent>
    <Path>/Partners/fossilgroup</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-17T13:38:36</CreateDate>
    <NodeName Default="fossilgroup" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/otopo1gl/06.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>