<?xml version="1.0" encoding="utf-8"?>
<Media Key="e73759c3-d5c6-4283-9570-12814dd5ebfe" Alias="freedombird" Level="2">
  <Info>
    <Parent Key="957d47bd-7d6d-4ff7-8b27-1ee1adbaf6d8">Partners</Parent>
    <Path>/Partners/freedombird</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-17T13:37:06</CreateDate>
    <NodeName Default="freedombird" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ghsjkbo3/01.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>