<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d2c990a-368f-4601-ad6c-74d0f9e5cbd8" Alias="globe" Level="2">
  <Info>
    <Parent Key="957d47bd-7d6d-4ff7-8b27-1ee1adbaf6d8">Partners</Parent>
    <Path>/Partners/globe</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-17T13:38:18</CreateDate>
    <NodeName Default="globe" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5asi3h2u/05.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>