<?xml version="1.0" encoding="utf-8"?>
<Media Key="e2031985-1535-4ac6-ae9a-6edde0fa1c39" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-19T13:03:29</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>