<?xml version="1.0" encoding="utf-8"?>
<Media Key="f07fbe36-8f80-4347-b8b7-64ee222074ed" Alias="identity" Level="2">
  <Info>
    <Parent Key="957d47bd-7d6d-4ff7-8b27-1ee1adbaf6d8">Partners</Parent>
    <Path>/Partners/identity</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-17T13:37:34</CreateDate>
    <NodeName Default="identity" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yqbn0eu1/02.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>