<?xml version="1.0" encoding="utf-8"?>
<Media Key="d5674460-947e-492f-a542-03c9f30ba61d" Alias="Logotype" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logotype</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-12T11:32:51</CreateDate>
    <NodeName Default="Logotype" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>