<?xml version="1.0" encoding="utf-8"?>
<Media Key="d390e992-92aa-4583-9b7f-bb04edc91ea9" Alias="logotype" Level="2">
  <Info>
    <Parent Key="d5674460-947e-492f-a542-03c9f30ba61d">Logotype</Parent>
    <Path>/Logotype/logotype</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-12T11:41:46</CreateDate>
    <NodeName Default="logotype" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mbkdemnr/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>