<?xml version="1.0" encoding="utf-8"?>
<Media Key="29e09301-a254-437b-a412-82408ba298ce" Alias="meeting" Level="2">
  <Info>
    <Parent Key="0b57b685-93d9-4fad-b3ed-e64ffda14ec2">Services</Parent>
    <Path>/Services/meeting</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-27T13:59:10</CreateDate>
    <NodeName Default="meeting" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4mxefs0p/post2-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>