<?xml version="1.0" encoding="utf-8"?>
<Media Key="335ba02b-5f35-4f66-9f09-705e07594ba6" Alias="miranda" Level="3">
  <Info>
    <Parent Key="e9820ce7-e1b0-4ad5-8b36-0cfcc378738e">Staff</Parent>
    <Path>/About/Staff/miranda</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-04T09:23:50</CreateDate>
    <NodeName Default="miranda" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/urvb1bk2/miranda-dayton.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>