<?xml version="1.0" encoding="utf-8"?>
<Media Key="23d29c23-71d7-47c6-a63e-6e4caf03c92d" Alias="Miscellaneous" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Miscellaneous</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-14T13:31:28</CreateDate>
    <NodeName Default="Miscellaneous" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>