<?xml version="1.0" encoding="utf-8"?>
<Media Key="caea9b9b-2cb4-411d-985c-785c1fc8bf2f" Alias="natural" Level="2">
  <Info>
    <Parent Key="957d47bd-7d6d-4ff7-8b27-1ee1adbaf6d8">Partners</Parent>
    <Path>/Partners/natural</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-17T13:37:50</CreateDate>
    <NodeName Default="natural" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/neteqkfp/03.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>