<?xml version="1.0" encoding="utf-8"?>
<Media Key="957d47bd-7d6d-4ff7-8b27-1ee1adbaf6d8" Alias="Partners" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Partners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-17T13:36:03</CreateDate>
    <NodeName Default="Partners" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>