<?xml version="1.0" encoding="utf-8"?>
<Media Key="f0af332a-15fe-4a2b-926b-4c0b1987f07d" Alias="project7" Level="2">
  <Info>
    <Parent Key="de9bbc85-f212-43b9-94de-5975dbac0ba3">Projects</Parent>
    <Path>/Projects/project7</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-28T17:12:24</CreateDate>
    <NodeName Default="project7" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1cha0exf/pj4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>