<?xml version="1.0" encoding="utf-8"?>
<Media Key="28456af5-11a3-4a7b-9568-d7f2c38f53d8" Alias="project2" Level="2">
  <Info>
    <Parent Key="de9bbc85-f212-43b9-94de-5975dbac0ba3">Projects</Parent>
    <Path>/Projects/project2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-28T17:10:30</CreateDate>
    <NodeName Default="project2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/a5lppsvy/img-47-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>