<?xml version="1.0" encoding="utf-8"?>
<Media Key="09be58a7-81be-405f-84df-2f77750ac144" Alias="project6" Level="2">
  <Info>
    <Parent Key="de9bbc85-f212-43b9-94de-5975dbac0ba3">Projects</Parent>
    <Path>/Projects/project6</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-28T17:12:09</CreateDate>
    <NodeName Default="project6" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kxsbz03f/pj4-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>