<?xml version="1.0" encoding="utf-8"?>
<Media Key="6077cb3d-ba74-4c6c-83cd-d9383736afe4" Alias="project3" Level="2">
  <Info>
    <Parent Key="de9bbc85-f212-43b9-94de-5975dbac0ba3">Projects</Parent>
    <Path>/Projects/project3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-28T17:10:51</CreateDate>
    <NodeName Default="project3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/z31nlatp/pj1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>