<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a6b3342-5f15-4da2-a11e-143d3caa947d" Alias="project1" Level="2">
  <Info>
    <Parent Key="de9bbc85-f212-43b9-94de-5975dbac0ba3">Projects</Parent>
    <Path>/Projects/project1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-28T17:10:12</CreateDate>
    <NodeName Default="project1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wchms0ao/img-1-4-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>