<?xml version="1.0" encoding="utf-8"?>
<Media Key="b89fe5b1-3899-47f0-9287-3a1248eeb1a6" Alias="project5" Level="2">
  <Info>
    <Parent Key="de9bbc85-f212-43b9-94de-5975dbac0ba3">Projects</Parent>
    <Path>/Projects/project5</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-28T17:11:32</CreateDate>
    <NodeName Default="project5" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/inmd0wuc/pj3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>