<?xml version="1.0" encoding="utf-8"?>
<Media Key="ead8b9c7-91b1-41e0-a789-161f32f3cbf2" Alias="rating5" Level="2">
  <Info>
    <Parent Key="0b145ab5-97e7-44a1-8027-16307cf6fd88">About</Parent>
    <Path>/About/rating5</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-02T14:50:37</CreateDate>
    <NodeName Default="rating5" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/guchucfk/rating.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>