<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b57b685-93d9-4fad-b3ed-e64ffda14ec2" Alias="Services" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-26T16:12:32</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>