<?xml version="1.0" encoding="utf-8"?>
<Media Key="9224c6ab-e99d-4fed-b4a5-fdb293d467e7" Alias="signature Tina Fox" Level="2">
  <Info>
    <Parent Key="23d29c23-71d7-47c6-a63e-6e4caf03c92d">Miscellaneous</Parent>
    <Path>/Miscellaneous/signatureTinaFox</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-14T13:32:19</CreateDate>
    <NodeName Default="signature Tina Fox" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lf3jm2eg/onlinesignaturesnet-302-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>