<?xml version="1.0" encoding="utf-8"?>
<Media Key="2fca32d7-d3a5-430f-8e88-8579f171b089" Alias="simpleaf" Level="2">
  <Info>
    <Parent Key="957d47bd-7d6d-4ff7-8b27-1ee1adbaf6d8">Partners</Parent>
    <Path>/Partners/simpleaf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-17T13:38:06</CreateDate>
    <NodeName Default="simpleaf" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ewhhrtn4/04.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>