<?xml version="1.0" encoding="utf-8"?>
<Media Key="e9820ce7-e1b0-4ad5-8b36-0cfcc378738e" Alias="Staff" Level="2">
  <Info>
    <Parent Key="0b145ab5-97e7-44a1-8027-16307cf6fd88">About</Parent>
    <Path>/About/Staff</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-02T15:50:38</CreateDate>
    <NodeName Default="Staff" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>