<?xml version="1.0" encoding="utf-8"?>
<Media Key="4e94e86a-c0b2-4b4e-954d-769c1f2d4db2" Alias="Statistic" Level="2">
  <Info>
    <Parent Key="0b57b685-93d9-4fad-b3ed-e64ffda14ec2">Services</Parent>
    <Path>/Services/Statistic</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T16:15:42</CreateDate>
    <NodeName Default="Statistic" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tbkdnlfj/image-24-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>