<?xml version="1.0" encoding="utf-8"?>
<Media Key="b944572c-996c-4d7e-aed0-832b07df40e0" Alias="Tina Fox" Level="3">
  <Info>
    <Parent Key="e9820ce7-e1b0-4ad5-8b36-0cfcc378738e">Staff</Parent>
    <Path>/About/Staff/TinaFox</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-04T09:21:40</CreateDate>
    <NodeName Default="Tina Fox" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/uoobedyf/tina-fox2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>