#form-contact {

    .container {
        padding: 5rem 1rem 1rem 1rem;
        position: relative;
        top: -15rem;
        background-color: var(--color-light);
        z-index: 6;
        border: 1px solid var(--color-border-gray);
        box-shadow: 8px 8px 20px 1px var(--color-border-dark-transparent);

        h6 {
            text-align: center;
        }

        h2 {
            text-align: center;
            padding: 0 16rem 0 16rem;
        }

        .contact-form {
            padding: 1rem;
        }
    }
}
