#get-in-contact {   
    padding-top: 100px;
    position: relative;

    .background {
        position: absolute;
        height: 100%;
        width: 100vw;
        max-width: 99.9%;
        z-index: -1;
    }

    .container {
        display: flex;
        justify-content: space-between;
    }

    .background-image {
        position: absolute;
        z-index: 1;
        top: 6%;
    }

    .image {
        position: relative;
        z-index: 2;
    }

    .contact-info {
        padding-left: 15rem;
        align-content: center;

        i {
            color: var(--color-secondary);
            padding-right: 1em;
        }

        .info {
            padding-left: 2rem;
        }
    }
}
