#hero-section {
    position: relative;

    .background {
        position: absolute;
        height: 100%;
        width: 100vw;
        max-width: 99.9%;
        z-index: -1;
    }

    .background-image {
        position: absolute;
        width: 100vw;
        max-width: 99.9%;
    }

    .container {
        padding-top: 4rem;

        h1 {
            line-height: 1.1;
            padding-right: 1em;
        }

        p {
            padding-right: 5em;
        }
    }
}
