#recent-projects {
    .projects {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 1em 0 1em 0;

        a {

            &:hover {
                box-shadow: 2px 2px 8px 8px var(--color-border-gray);
                text-decoration: none;
                transition: all 0.2s ease-in-out;
                background-color: var(--color-primary);
                transform: scale(1.1);
            }

            .item {
                position: relative;

                .image {
                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }                 
                }

                .description {
                    background-color: var(--color-border-dark-transparent);
                    position: absolute;
                    bottom: 0%;
                    left: 0;
                    right: 0;

                    h6 {
                        padding-left: 1em;
                        color: var(--color-light);
                    }

                    p {
                        padding-left: 1em;
                        color: var(--color-light);
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
