#service-details {
    .container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        padding-top:2rem;

        aside {
          
        }
        .content {
           img {
               width:100%;
           }
             
        }
    }
}
